body{
    font-family: 'Roboto', sans-serif;
} 
.top-section {
    background: #fbfbfb;
    box-shadow: 1px 1px 2px #f5f5f5;
    border-bottom: 1px solid rgb(219, 219, 219);
}
.top-hedder-support-section{
    display: flex;
    gap: 15px;
    list-style: none;
    
}
.top-hedder-support-section li a{
    text-decoration: none;
    color: black;
}
.navbar-section{
    background-color: #fbfbfb;
    box-shadow: 1px 1px 2px #f5f5f5;
    border-bottom: 1px solid rgb(219, 219, 219);
}
.nav-laft-sec{
    padding-left: 63%;
    gap: 33px;
}
#btn-taxt-color{
    background: #24b724;
    color: white;
}
.mac-lead-genaration{
    margin: 114px auto;
    max-width: 853px;
}
.lead-genaration-heddig h1{
    font-size: 50px;
    font-weight: 800;
}
.lead-genaration-heddig p{
    color: #9b9b9b;
    line-height: 35px;
    margin-top: 27px;
}
.minimum-requirement h5{
color: #33c933;
}
.minimum-requirement h4{
    font-weight: 800;
    font-size: 18px;
}
.minimum-requirement p{
    color: #9b9b9b;
    line-height: 35px;
    margin-top: 27px;
}

.intent-title h5{
    color: #33c933;
}
.intent-title h4{
    font-weight: 800;
    font-size: 18px;
}
.intent-title p{
    color: #9b9b9b;
    line-height: 35px;
    margin-top: 27px;
}
.posted-webform-leads-live-transfers-section{
    margin: 114px auto;
    max-width: 853px;
}
.posted-webform-leads h2{
    font-size: 40px;
    font-weight: 800;
}
.posted-webform-leads p{
    color: #9b9b9b;
    line-height: 35px;
    margin-top: 27px;
}
.live-transfers h2{
    font-size: 40px;
    font-weight: 800;
}
.live-transfers p{
    color: #9b9b9b;
    line-height: 35px;
    margin-top: 27px;
}
#style-btn{
    border: none;
    background: #e9e9e9;
}
#style-name-color{
    background-color: #f2f2f2;
    border: none;
    height: 46px;
}

.lead-checkbox{
    box-shadow: 0px 0px 0px 0px #e9e9e9;
    background: #f2f2f2;
    padding: 47px;
}
.get-btn{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

#btn-padding-style{
    border: none;
    background: #006738;
    color: white;
    padding: 11px 40px 11px 40px;
}





















@media (min-width: 320px) and (max-width: 768px)  { 
    .pngd{
        display: none;
    }
    .top-hedder-support-section {
        display: flex;
        ap: 15px;
        list-style: none;
        flex-wrap: wrap;
    }
    .purchase-data-card-section {
            flex-flow: column;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .top-hedder-support-section {
        display: flex;
        ap: 15px;
        list-style: none;
        flex-wrap: wrap;
    }
}



body{
    margin-bottom: 200px;
}